

body{background-image:url(pattern.png);}
h1 {border-style :double ;  text-align:center; font-size:39px; font-family:AR ESSENCE}
h3{background-color:black  ;text-align: center;border: 4px solid black; margin: 50px }
ul {background-color:white; padding :20px ;border: 4px solid pink; margin: 50px ;font-family:calibri;font-size:18px}
h4{border-top-style:dotted; 
	border-right-style : solid ;
	border-bottom-style : dotted;
	border-left-style :solid; 
	background-color:pink;text-align:center;font-size:30px}
p {background-color:pink ; padding :20px border: 15px solid black ; margin: 50px ;text-align:center;font-size:25px;font-family:Monotype Corsiva;
;}
img {border-radius: 50% ;width :400px; height:500px;}

